@media only screen and (min-width: 992px) {
   .div1{
	  padding: 40px 55px 20px 20px;
	  margin: 20px 20px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 23.33%;
  	  position:relative;
  	  background-color: yellow;
	}

  .div2{
	  padding: 40px 55px 20px 20px;
	  margin: 20px 15px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 23.33%;
  	  position:relative;
  	  background-color: yellow;
  	}
  .div3{
	  padding: 40px 55px 20px 20px;
	  margin: 20px 20px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 23.33%;
  	  position:relative;
  	  background-color: yellow;
	}
	.divsec1{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 338px;
		bottom: 200px
		max-width: 23.33%;
		background-color: #FF4500;
		border: 5px solid black;box-sizing; border-box;
		
	}
	.divsec2{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 815px;
		bottom: 200px
		max-width: 23.33%;
		background-color: lightblue;
		border: 5px solid black;box-sizing; border-box;
		
	}
	.divsec3{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 1253px;
		bottom: 200px
		left: 200px;
		background-color: #00FF00;
		border: 5px solid black;box-sizing; border-box;
		
	}
		h1.helvetica{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align: center;
	width:100%;
}

 
}
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   .div1{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 20px 20px 50px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 30%;
  	  position:relative;
  	  background-color: yellow;

	}

  .div2{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 20px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 30%;
  	  position:relative;
  	  background-color: yellow;
  	}
  .div3{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 20px 20px 50px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 70%;
	  position:relative;
	  background-color: yellow;
  	  
	}
	.divsec1{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 311px;
		bottom: 200px
		max-width: 30%;
		background-color: #FF4500;
		border: 5px solid black;box-sizing; border-box;
	}
	.divsec2{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 730px;
		bottom: 200px
		max-width: 30%;
		background-color: lightblue;
		border: 5px solid black;box-sizing; border-box;
	}
	.divsec3{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 223px 20px 20px 720px;
		bottom: 200px
		max-width: 73%;
		background-color: #00FF00;
		border: 5px solid black;box-sizing; border-box;
	}
		h1.helvetica{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align: center;
	max-width:85%;
}
}
  @media only screen and (min-width: 300px) and (max-width: 767px) {
  	.div1{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 40px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 80%;
  	  position:relative;
  	  background-color: yellow;
	}

  .div2{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 40px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 80%;
  	  position:relative;
  	  background-color: yellow;
  	}
  .div3{
	  padding: 45px 20px 20px 20px;
	  margin: 20px 40px 20px 20px;
	  border: 10px solid black;box-sizing; border-box;
	  float: left;
  	  max-width: 80%;
	  position:relative;
	  background-color: yellow;
  	  
	}
	.divsec1{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 25px 20px 20px 214px;
		bottom: 200px
		left: 250px;
		background-color: #FF4500;
		border: 5px solid black;box-sizing; border-box;
	}
	.divsec2{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 240px 20px 20px 242px;
		bottom: 200px
		max-width: 200px;
		background-color: lightblue;
		border: 5px solid black;box-sizing; border-box;
	}
	.divsec3{
		position: absolute;
		padding: 10px 10px 10px 10px;
	  	margin: 455px 20px 20px 236px;
		bottom: 200px
		left: 200px;
		background-color: #00FF00;
		border: 5px solid black;box-sizing; border-box;
	}
	h1.helvetica{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align: center;
	width:120%;
}

}

